@keyframes animatedBackground {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 200% auto;
  }
}
.top_wrapper {
  overflow-x: hidden;
  .career_wrapper {
    .career_image {
      background-color: #102240;
      background-image: url(./../../assets/img/Focus.svg);
      animation: animatedBackground 3s linear;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-delay: 0s;
      animation-direction: alternate;
      animation-iteration-count: 1;
      background-position: center;
      background-size: 200%;
      padding: 100px 150px 50px 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      .picture {
        img {
          width: 100%;
        }
      }
    }
  }
  .career_content {
    //padding: 0px 150px 10px 150px;
  }
}

@media only screen and (min-width: 1500px) {
  .top_wrapper {
    .career_wrapper {
      .career_image {
        // padding: 200px 500px 200px 500px;
        // animation: none;
        // display: none;
      }
      .career_content {
        //display: none;
        padding: 0px 80px 10px 200px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .top_wrapper {
    .career_wrapper {
      .career_image {
        padding: 100px 100px 20px 100px;
        // animation: none;
        // display: none;
      }
      .career_content {
        //display: none;
        padding: 0px 80px 10px 80px;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .top_wrapper {
    .career_wrapper {
      .career_image {
        padding: 50px 60px 20px 60px;
        // animation: none;
        // display: none;
      }
      .career_content {
        //display: none;
        padding: 0px 20px 10px 20px;
      }
    }
  }
}
