.modal_cnt {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #102240;
  background-image: url(./../assets/img/Focus.svg);
  background-position: center;
  background-size: cover;
  //padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 70vh;
  a {
    color: "white";
  }
  .modal_wrapper {
    max-width: 1700px;
    display: flex;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0;
    //
    background: transparent;

    .left_modal {
      float: left;
      padding-right: 50px;
      //padding: 50px 10px 0px 50px;
      width: 60%;
      h1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 35px;
        color: #fff;
      }
      p {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 24px;
      }
    }
    .right_modal {
      float: right;
      line-height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .close_drop {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        //font-weight: bold;
        text-decoration: none !important;
        color: white;
        cursor: pointer;
      }

      label {
        font-weight: 2px;
        font-size: 20px;
        color: white;
      }
      input[type="text"] {
        padding: 5px;
        border: 1px solid white;
        background: transparent;

        width: 500px;
        color: blue;
      }
      textarea {
        padding: 5px;
        border: 1px solid white;
        background: transparent;
        width: 500px;
        height: 100px;
      }

      button {
        margin: 0;
        padding: 10px;
        width: 200px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #000;
        color: white;
        border-color: 102240;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .modal_cnt {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    background-image: none;
    height: 100vh;

    .modal_wrapper {
      display: flex;
      flex-direction: column;
      .left_modal {
        // padding-left: 50px;
        padding-right: 10px;
        width: 100%;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 20px;
        }
      }
      .right_modal {
        line-height: 35px;

        label {
          font-weight: 2px;
          font-size: 18px;
        }
        input[type="text"] {
          padding: 5px;
          border: 1px solid white;
          background: transparent;
          height: 30px;
          width: 100px;
          color: blue;
        }
        textarea {
          padding: 5px;
          width: 300px;
          height: 100px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .modal_cnt {
    //height: 100vh;
    //background-image: none;
    .modal_wrapper {
      display: flex;
      //flex-direction: column;

      .left_modal {
        //width: 100%;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 20px;
        }
      }
      .right_modal {
        line-height: 30px;

        label {
          font-size: 20px;
        }
        button {
          width: 150px;
          height: 50px;
          font-size: 14px;
        }
        input[type="text"] {
          padding: 5px;
          border: 1px solid white;
          background: transparent;
          height: 25px;
          width: 250px;
          color: blue;
        }
        textarea {
          padding: 5px;
          width: 250px;
          height: 100px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1001px) {
  .modal_cnt {
    height: 70vh;
    // padding-top: 30px;
    .modal_wrapper {
      .left_modal {
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
      .right_modal {
        line-height: 25px;
        label {
          font-size: 16px;
        }
        button {
          font-size: 16px;
          width: 200px;
          height: 40px;
        }
        input[type="text"] {
          width: 400px;
          height: 20px;
        }
        textarea {
          width: 400px;
          height: 100px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .modal_cnt {
    height: 70vh;
    // padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    .modal_wrapper {
      .left_modal {
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 22px;
        }
      }
      .right_modal {
        line-height: 35px;

        label {
          font-size: 25px;
        }
        textarea {
          width: 400px;
        }
        input[type="text"] {
          width: 400px;
          height: 30px;
        }
        button {
          font-size: 20px;
          height: 50px;
        }
      }
    }
  }
}
@media only screen and (min-width: 2500px) {
  .modal_cnt {
    height: 70vh;
    //padding-top: 30px;
    padding-right: 50px;
    .modal_wrapper {
      .left_modal {
        padding-top: 30px;
        padding-right: 100px;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 40px;
        }
      }
      .right_modal {
        padding-top: 30px;
        line-height: 40px;
        .close_drop {
          font-size: 50px;
        }
        label {
          font-size: 30px;
        }
        button {
          font-size: 25px;
          width: 300px;
          height: 60px;
        }
        input[type="text"] {
          width: 600px;
          height: 30px;
        }
        textarea {
          width: 600px;
          height: 100px;
        }
      }
    }
  }
}

@media only screen and (min-width: 3200px) {
  .modal_cnt {
    height: 65vh;
    padding-left: 0px;
    //padding-top: 50px;
    padding-right: 0px;
    background-size: 100%;
    .modal_wrapper {
      .left_modal {
        padding-top: 30px;
        padding-right: 30px;
        h1 {
          font-size: 55px;
        }
        p {
          font-size: 40px;
        }
      }
      .right_modal {
        padding-top: 30px;
        line-height: 65px;

        .close_drop {
          font-size: 100px;
        }
        label {
          font-size: 40px;
        }
        button {
          font-size: 30px;
          width: 350px;
          height: 70px;
        }
        input[type="text"] {
          width: 800px;
          height: 60px;
        }
        textarea {
          width: 800px;
          height: 100px;
        }
      }
    }
  }
}

@media only screen and (min-width: 6000px) {
  .modal_cnt {
    height: 55vh;
    // padding-left: 0px;
    // padding-top: 50px;
    // padding-right: 0px;
    background-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    .modal_wrapper {
      max-width: 2000px;
      //Sflex-direction: column;
      .left_modal {
        // padding-top: 30px;
        padding-right: 100px;
        //padding-left: 100px;
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 50px;
        }
      }
      .right_modal {
        padding-top: 30px;
        line-height: 70px;

        .close_drop {
          font-size: 100px;
        }
        label {
          font-size: 45px;
        }
        button {
          font-size: 30px;
          width: 350px;
          height: 70px;
        }
        input[type="text"] {
          width: 800px;
          height: 60px;
        }
        textarea {
          width: 800px;
          height: 100px;
        }
      }
    }
  }
}
