.modal_cnt {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #102240;
  .modal_wrapper {
    max-width: 1700px;
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0;
    height: 70vh;
    background: #102240;
    background-image: url(./../assets/img/Focus.svg);
    background-position: center;
    background-size: cover;
    .left_modal {
      float: left;
      padding-right: 50px;
      //padding: 50px 10px 0px 50px;
      width: 60%;
      h1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 35px;
        color: #fff;
      }
      p {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 24px;
      }
    }
    .right_modal {
      float: right;
      line-height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .close_drop {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        //font-weight: bold;
        text-decoration: none !important;
        color: white;
        cursor: pointer;
      }

      label {
        font-weight: 2px;
        font-size: 20px;
        color: white;
      }
      input[type="text"] {
        padding: 5px;
        border: 1px solid white;
        background: transparent;

        width: 500px;
        color: blue;
      }
      textarea {
        padding: 5px;
        border: 1px solid white;
        background: transparent;
        width: 500px;
        height: 100px;
      }

      button {
        margin: 0;
        padding: 10px;
        width: 200px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #000;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .modal_cnt {
    .modal_wrapper {
      padding-top: 80px;
      padding-left: 40px;
      padding-right: 20px;
      justify-content: none;
      align-items: none;
      background-image: none;
      height: 100vh;
      display: flex;
      flex-direction: column;
      .left_modal {
        // padding-left: 50px;
        // padding-right: 20px;
        width: 100%;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 18px;
        }
      }
      .right_modal {
        line-height: 30px;

        label {
          font-weight: 2px;
          font-size: 18px;
          color: white;
        }
        input[type="text"] {
          padding: 5px;
          border: 1px solid white;
          background: transparent;

          width: 250px;
          color: blue;
        }
        textarea {
          padding: 5px;
          border: 1px solid white;
          background: transparent;
          width: 250px;
          height: 100px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .modal_cnt {
    .modal_wrapper {
      background-image: none;
      display: flex;
      flex-direction: column;
      height: 100vh;
      .left_modal {
        width: 100%;
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 25px;
        }
      }
      .right_modal {
        line-height: 40px;

        label {
          font-size: 30px;
        }
        button {
          width: 220px;
          height: 50px;
          font-size: 18px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1920px) {
  .modal_cnt {
    .modal_wrapper {
      height: 50vh;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 50px;
      .left_modal {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 35px;
        }
      }
      .right_modal {
        line-height: 40px;

        label {
          font-size: 30px;
        }
        button {
          font-size: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 2500px) {
  .modal_cnt {
    .modal_wrapper {
      height: 55vh;
      padding-top: 100px;
      padding-right: 50px;
      .left_modal {
        padding-top: 50px;
        padding-right: 100px;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 40px;
        }
      }
      .right_modal {
        padding-top: 50px;
        line-height: 50px;
        .close_drop {
          font-size: 50px;
        }
        label {
          font-size: 40px;
        }
        button {
          font-size: 25px;
          width: 300px;
          height: 60px;
        }
        input[type="text"] {
          width: 600px;
          height: 30px;
        }
        textarea {
          width: 600px;
          height: 100px;
        }
      }
    }
  }
}

@media only screen and (min-width: 3200px) {
  .modal_cnt {
    .modal_wrapper {
      height: 50vh;
      padding-left: 0px;
      padding-top: 100px;
      padding-right: 0px;
      background-size: 100%;
      .left_modal {
        padding-top: 50px;
        padding-right: 30px;
        h1 {
          font-size: 55px;
        }
        p {
          font-size: 40px;
        }
      }
      .right_modal {
        padding-top: 50px;
        line-height: 65px;

        .close_drop {
          font-size: 100px;
        }
        label {
          font-size: 50px;
        }
        button {
          font-size: 30px;
          width: 350px;
          height: 70px;
        }
        input[type="text"] {
          width: 800px;
          height: 60px;
        }
        textarea {
          width: 800px;
          height: 100px;
        }
      }
    }
  }
}
