@keyframes animatedBackground {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 200% auto;
  }
}
.aboutus {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .about_wrapper {
    max-width: 1500px;
    .about_image {
      padding: 100px 150px 50px 150px;
      background-color: #102240;
      background-image: url(./../../assets/img/Focus.svg);
      animation: animatedBackground 3s linear;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-delay: 0s;
      animation-direction: alternate;
      animation-iteration-count: 1;
      background-position: center;
      background-size: 200%;
      .picture {
        img {
          width: 100%;
        }
      }
    }

    .about_content {
      h1 {
        margin-top: 50px;
        font-weight: bold;
      }
      background-color: white;
      padding: 0px 150px 50px 150px;
      text-align: justify;
      font-size: 20px;
      p {
        padding: 10px 10px 10px 0px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .aboutus {
    .about_wrapper {
      .about_image {
        padding: 50px 60px 20px 60px;
        // animation: none;
      }
      .about_content {
        padding: 0px 50px 20px 50px;
        text-align: left;
        font-size: 18px;
        h1 {
          font-size: 25px;
          margin-top: 20px;
        }
        p {
          padding: 5px 5px 5px 0px;
        }
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .aboutus {
    .about_wrapper {
      .about_image {
        padding: 200px 200px 100px 200px;
      }
    }
    .about_content {
      padding: 0px 50px 20px 50px;
      text-align: left;
      font-size: 50px;
      h1 {
        font-size: 50px;
      }
      p {
        padding: 10px 10px 10px 0px;
      }
    }
  }
}
