.pp_wrapper {
  background-image: url(./../../assets/img/Focus.svg);
  background-position: top;
  //background-origin: border-box;

  background-repeat: no-repeat;
  background-size: 120%;
  background-position-y: -100px;
  background-position-x: right;
  padding: 50px 150px 0px 150px;

  p {
    text-align: justify;
    word-spacing: 5px;
    line-height: 25px;
    //text-justify: inter-word;
  }
  ol li {
    text-align: justify;
    word-spacing: 5px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 1147px) {
  .pp_wrapper {
    background-position-y: 10px;
    background-size: 150%;
    padding: 10px 30px 0px 30px;
  }
}
